In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/submissions_comments.csv')
# the full file isnt available on github due to size limitations partial file with 80,000 comments

C:\Users\Tye_H\AppData\Local\Temp/ipykernel_98696/886400214.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/comments_large2.csv')

In [23]:
df.head()

,Unnamed: 0,user,comment,date_time,sub_title
0,0,Solyca,Link: https://youtu.be/cQWlnTyOSig&t=13m0s,1.647149e+09,NTU used as example of university gaming ranki...
1,1,Xanthon,Polymatter loves Singapore more than most Sing...,1.647151e+09,NTU used as example of university gaming ranki...
2,2,Best_Jokur,"Can’t watch the video for whatever reason, You...",1.647159e+09,NTU used as example of university gaming ranki...
3,3,Worms_sg,Seems like they misunderstood what is going on...,1.647150e+09,NTU used as example of university gaming ranki...
4,4,Mellonbun,Reputation ranking begets reputation ranking a...,1.647150e+09,NTU used as example of university gaming ranki...

In [28]:
df = df[['comment', 'user', 'date_time', 'sub_title']]

In [32]:
df

,comment,user,date_time,sub_title
0,Link: https://youtu.be/cQWlnTyOSig&t=13m0s,Solyca,1.647149e+09,NTU used as example of university gaming ranki...
1,Polymatter loves Singapore more than most Sing...,Xanthon,1.647151e+09,NTU used as example of university gaming ranki...
2,"Can’t watch the video for whatever reason, You...",Best_Jokur,1.647159e+09,NTU used as example of university gaming ranki...
3,Seems like they misunderstood what is going on...,Worms_sg,1.647150e+09,NTU used as example of university gaming ranki...
4,Reputation ranking begets reputation ranking a...,Mellonbun,1.647150e+09,NTU used as example of university gaming ranki...
...,...,...,...,...
1882374,"Yepyep. As a part timer, I mostly did commenta...",cforserious,1.604297e+09,To those who have worked part time at Wildlife...
1882375,Epic 讲了等于没讲 from OP,NaN,1.604221e+09,To those who have worked part time at Wildlife...
1882376,"They could afford more, but just because they ...",yapyd,1.604243e+09,To those who have worked part time at Wildlife...
1882377,"Same as safe distancing scanner, no? They're p...",Enterland,1.604250e+09,To those who have worked part time at Wildlife...
1882378,He has gold plated peanuts while some of us ge...,I_love_pillows,1.604222e+09,To those who have worked part time at Wildlife...

In [33]:
df_no_nulls = df.dropna(subset = 'comment')

In [34]:
df_no_nulls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1882367 entries, 0 to 1882378
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   comment    object
 1   user       object
 2   date_time  float64
 3   sub_title  object
dtypes: float64(1), object(3)
memory usage: 71.8+ MB

In [35]:
import redditcleaner

In [36]:
df['clean_comments'] = df.comment.map(redditcleaner.clean)

In [39]:
df.comment = df.clean_comments

In [5]:
df.to_pickle('../data/comments_clean.pk1')
#full file isnt available on git smaller sample is provided